    </div>
    <div style="text-align: center; padding-top: 20px; border-top: 1px solid #ddd; font-size: 0.8em; color: #777;">
      <p>&copy; <%= new Date().getFullYear() %> Guilia Tech Global Service. Tous droits réservés.</p>
      <p>
        <a href="https://facebook.com/GuiliaTech">Facebook</a> | 
        <a href="https://twitter.com/GuiliaTech">Twitter</a> | 
        <a href="https://instagram.com/GuiliaTech">Instagram</a>
      </p>
      <p>Si vous ne souhaitez plus recevoir nos e-mails, vous pouvez vous désabonner (lien à ajouter).</p>
    </div>
  </div>
</body>
</html>